// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "Lenovo Group Limited 0x403D Unknown" {
    mode "1920x1200@60.003"
    position x=0 y=0
    variable-refresh-rate
}

output "Dell Inc. AW3425DWM 5MP5444" {
    mode "3440x1440@179.989"
    // variable-refresh-rate
}
