    window-rule {
        geometry-corner-radius 10
        clip-to-geometry true
    }

    window-rule {
        match app-id="firefox-developer-edition$" title="^Picture-in-Picture$"
        match app-id="Pinentry-gtk"
        match app-id="XEyes"
        match app-id="satty"
        match app-id="thunar" title="^Rename"
        match app-id="thunar" title="^File Operation Progress$"
        open-floating true
    }

    window-rule {
        match app-id="firefox-developer-edition$"
        open-maximized true
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
