" ============================================================================
" .ideavimrc
" Based on AstroNvim-style mappings
" ============================================================================

" ============================================================================
" Leader keys
" ============================================================================
let mapleader = " "
let maplocalleader = ","

" ============================================================================
" Plugins
" ============================================================================
set NERDTree
set commentary
set highlightedyank
set ideajoin
set matchit
set surround
set which-key

" ============================================================================
" Plugin configuration
" ============================================================================

" surround
let g:surround_no_mappings = 1
let g:WhichKeyDesc_surround = "gs +surround"
let g:WhichKeyDesc_surround_add = "gsa Add Surrounding"
let g:WhichKeyDesc_surround_delete = "gsd Delete Surrounding"
let g:WhichKeyDesc_surround_replace = "gsr Replace Surrounding"

nmap gsa <Plug>YSurround
xmap gsa <Plug>VSurround
nmap gsd <Plug>DSurround
nmap gsr <Plug>CSurround

" NERDTree
let g:NERDTreeMapActivateNode = "l"
let g:NERDTreeMapCloseChildren = "z"
let g:NERDTreeMapCloseDir = "h"
let g:NERDTreeMapNewDir = "A"
let g:NERDTreeMapNewFile = "a"
let g:NERDTreeMapOpenSplit = "S"
let g:NERDTreeMapOpenVSplit = "s"
let g:NERDTreeMapPreviewSplit = "gS"
let g:NERDTreeMapPreviewVSplit = "gs"

" Which-Key
set timeoutlen=5000
set notimeout
let g:WhichKey_DefaultDelay = 400
let g:WhichKey_SortCaseSensitive = "false"
let g:WhichKey_ProcessUnknownMappings = "false"
let g:WhichKey_ShowVimActions = "false"

" ============================================================================
" Core editor settings
" ============================================================================
set undolevels=10000
set nrformats-=octal
set scrolloff=5
set sidescrolloff=5
set history=1000

set number
set relativenumber

set ignorecase
set smartcase
set incsearch
set hlsearch

set clipboard^=unnamedplus,ideaput
set showmode
set showcmd

" ============================================================================
" Vim/Neovim behavior compatibility
" ============================================================================
nnoremap Y y$
inoremap <C-U> <C-G>u<C-U>
inoremap <C-W> <C-G>u<C-W>
nnoremap Q @@

vnoremap > >gv
vnoremap < <gv

" ============================================================================
" File operations
" ============================================================================
nnoremap <C-s> :w!<CR>
nnoremap <Leader>w :w<CR>
nnoremap <C-q> :q!<CR>

" New file / new window
nnoremap <Leader>n :new<CR>
nmap <Leader>n <Action>(NewElementSamePlace)

" ============================================================================
" Explorer / navigation
" ============================================================================
let g:WhichKeyDesc_buffer_explorer = "<leader>e Buffer Explorer"
nnoremap <Leader>e :NERDTreeToggle<CR>

let g:WhichKeyDesc_buffer_explorer_focus = "<leader>o Focus Buffer Explorer"
nnoremap <Leader>o :NERDTreeFocus<CR>

" ============================================================================
" Window management / splits
" ============================================================================
nmap <leader><Bar> <Action>(SplitVertically)
nmap <leader>- <Action>(SplitHorizontally)

nmap \ <C-w>s
nmap | <C-w>v

nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

nmap <C-Down> <Action>(StretchSplitToBottom)
nmap <C-Left> <Action>(StretchSplitToLeft)
nmap <C-Right> <Action>(StretchSplitToRight)
nmap <C-Up> <Action>(StretchSplitToTop)

" ============================================================================
" Moving lines
" ============================================================================
let g:WhichKeyDesc_move_down = "<A-j> Move Down"
nmap <A-j> <Action>(MoveLineDown)
vmap <A-j> <Action>(MoveLineDown)
imap <A-j> <Esc><Action>(MoveLineDown)i

let g:WhichKeyDesc_move_up = "<A-k> Move Up"
nmap <A-k> <Action>(MoveLineUp)
vmap <A-k> <Action>(MoveLineUp)
imap <A-k> <Esc><Action>(MoveLineUp)i

" ============================================================================
" Buffers / tabs
" ============================================================================
let g:WhichKeyDesc_buffer_next = "]b Next Buffer"
nmap [b <Action>(PreviousTab)
let g:WhichKeyDesc_buffer_previous = "[b Previous Buffer"
nmap ]b <Action>(NextTab)

nnoremap <Leader>fb <C-^>
let g:WhichKeyDesc_buffer_close = "<leader>q Close Buffer"
nmap <Leader>q <Action>(CloseContent)
let g:WhichKeyDesc_buffer_close_alt = "<leader>c Close Buffer"
nmap <Leader>c <Action>(CloseContent)
let g:WhichKeyDesc_buffer_close_all_but_active = "<leader>bc Close All But Active"
nmap <Leader>bc <Action>(CloseAllEditorsButActive)

let g:WhichKeyDesc_tab_next = "]t Next Tab"
nmap ]t <Action>(StoreDefaultLayout)<Action>(ChangeToolWindowLayout)

let g:WhichKeyDesc_tab_previous = "[t Previous Tab"
nmap [t <Action>(StoreDefaultLayout)<Action>(ChangeToolWindowLayout)

" Bufferline
nmap <Leader>bl <Action>(CloseAllToTheLeft)
nmap <Leader>br <Action>(CloseAllToTheRight)

" ============================================================================
" Search / clear / help
" ============================================================================
nmap <esc> :nohlsearch<CR>
nnoremap <silent> <C-L> :nohlsearch<CR>
nmap <Leader>ur :nohlsearch<CR>

" ============================================================================
" Comments / formatting / folds
" ============================================================================
nmap <Leader>/ <Action>(CommentByLineComment)
vmap <Leader>/ <Action>(CommentByLineComment)

let g:WhichKeyDesc_zc = "zc Collapse"
map zc <Action>(CollapseRegion)

let g:WhichKeyDesc_zo = "zo Expand"
map zo <Action>(ExpandRegion)

let g:WhichKeyDesc_format = "<leader>lf Format"
nmap <Leader>lf <Action>(Format)
vmap <Leader>lf <Action>(Format)

" ============================================================================
" Diagnostics / quickfix
" ============================================================================
nmap <Leader>xq <Action>(ActivateProblemsViewToolWindow)
nmap [q <Action>(GotoPreviousError)
nmap ]q <Action>(GotoNextError)

nmap <Leader>ld <Action>(ShowErrorDescription)
nmap <Leader>lD <Action>(ActivateProblemsViewToolWindow)
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
nmap ]w <Action>(GotoNextError)
nmap [w <Action>(GotoPreviousError)

" ============================================================================
" Toggles
" ============================================================================
nmap <Leader>us :setlocal spell!<CR>
nmap <Leader>uw :setlocal wrap!<CR>
nmap <Leader>uL :set relativenumber!<CR>
nmap <Leader>ul :set number!<CR>
nmap <Leader>ub <Action>(QuickChangeScheme)
nmap <Leader>ui <Action>(ActivateStructureToolWindow)
nmap <Leader>uD <Action>(ClearAllNotifications)

" ============================================================================
" Git
" ============================================================================
nmap <Leader>gg <Action>(ActivateCommitToolWindow)
nmap <Leader>gb <Action>(Annotate)
nmap <Leader>gB <Action>(Vcs.Show.Log)
nmap <Leader>gf <Action>(Vcs.ShowTabbedFileHistory)
nmap <Leader>gl <Action>(Vcs.Show.Log)

" ============================================================================
" Terminal / quitting
" ============================================================================
let g:WhichKeyDesc_terminal_ctrl = "<Leader>tf Terminal (Root Dir)"
nmap <Leader>tf <Action>(ActivateTerminalToolWindow)

let g:WhichKeyDesc_terminal_ctrl_alt = "<C-'> Terminal (Root Dir)"
nmap <C-'> <Action>(ActivateTerminalToolWindow)

nmap <Leader>qq <Action>(Exit)

" ============================================================================
" LSP / code intelligence
" ============================================================================
let g:WhichKeyDesc_goto_definition = "gd Goto Definition"
nmap gd <Action>(GotoDeclaration)

let g:WhichKeyDesc_references = "grr References"
nmap grr <Action>(FindUsages)

let g:WhichKeyDesc_references_alt = "<Leader>lR References"
nmap <Leader>lR <Action>(FindUsages)

let g:WhichKeyDesc_goto_implementation = "gri Goto Implementation"
nmap gri <Action>(GotoImplementation)

let g:WhichKeyDesc_goto_type_definition = "gy Goto Type Definition"
nmap gy <Action>(GotoTypeDeclaration)

let g:WhichKeyDesc_goto_type_definition_alt = "grt Goto Type Definition"
nmap grt <Action>(GotoTypeDeclaration)

let g:WhichKeyDesc_hover_info = "gk Hover Info"
nmap gk <Action>(ShowHoverInfo)

let g:WhichKeyDesc_signature_help_alt2 = "<Leader>lh Signature Help"
nmap <Leader>lh <Action>(ParameterInfo)

let g:WhichKeyDesc_rename = "grn Rename"
nmap grn <Action>(RenameElement)

let g:WhichKeyDesc_rename_alt = "<Leader>lr Rename"
nmap <Leader>lr <Action>(RenameElement)

let g:WhichKeyDesc_code_action = "<leader>lA Refactoring"
nmap <leader>lA <Action>(RefactoringMenu)
vmap <leader>lA <Action>(RefactoringMenu)

let g:WhichKeyDesc_source_action = "<leader>la Code Action"
nmap <Leader>la <Action>(ShowIntentionActions)
vmap <Leader>la <Action>(ShowIntentionActions)

" ============================================================================
" Finder / Telescope-like actions
" ============================================================================
nmap <Leader>ff <Action>(GotoFile)
nmap <Leader>fw <Action>(FindInPath)
nmap <Leader>fC :history<CR>
nmap <Leader>fb <Action>(Switcher)
nmap <Leader>gc <Action>(Vcs.Show.Log)
nmap <Leader>fr :registers<CR>
nmap <Leader>fh <Action>(HelpTopics)
nmap <Leader>fk :map<CR>
nmap <Leader>fm <Action>(ShowDocumentation)
nmap <Leader>fs <Action>(GotoSymbol)
nmap <Leader>fc <Action>(FindWordAtCaret)
nmap <Leader>ft <Action>(QuickChangeScheme)

" ============================================================================
" Smart selection
" ============================================================================
sethandler <C-Space> n:vim v:vim i:ide

let g:WhichKeyDesc_selection_increment = "<C-Space> Increment Selection"
nmap <C-Space> <Action>(EditorSelectWord)
vmap <C-Space> <Action>(EditorSelectWord)

let g:WhichKeyDesc_selection_decrement = "<BS> Decrement Selection"
vmap <BS> <Action>(EditorUnSelectWord)
